@import url(https://fonts.googleapis.com/css?family=Neucha:regular);

body {
    font-family: 'Neucha';
}

.slider {
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background: linear-gradient(0deg, rgba(213,250,110,1) 0%, rgba(250,248,163,1) 61%);
}


.slider h1 {
    font-size: 3rem;
    color: rgb(251,56,56);
}

.slider__container {
    background: linear-gradient(0deg, rgba(213,250,110,1) 0%, rgba(163,250,192,1) 61%);
    box-shadow: 0.625rem 0.375rem 1.25rem 0.375rem rgba(34, 60, 80, 0.32);
    padding: 3rem;
}

.slider__wrapper {
    max-width: 37.5rem;
    margin: 0 auto;
    overflow: hidden;
}

.slider__body {
    display: flex;
    overflow: hidden;
    width: 500%;
}

.slider__slide {
    width: 20%;
    height: auto;
    transition: 0.6s;
    display: flex;
    justify-content: center;
}

.slider__slide img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.slider__navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.slider__bar {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.slider__button {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    border: 0.125rem solid #000;
    transition: 0.3s;
}

.slider__bar:hover .slider__button {
    background: rgb(101, 251, 56);
    
}

.slider__bar:active .slider__button {
    background: rgb(253, 4, 4);
    border: 0.125rem solid rgb(248, 18, 18);
}

input[name="nav"] {
    display: none;
}

#nav1:checked ~  .slider__body .slide1 {
    margin-left: 0;
}

#nav2:checked ~  .slider__body .slide1 {
    margin-left: -20%;
}

#nav3:checked ~  .slider__body .slide1 {
    margin-left: -40%;
}

#nav4:checked ~  .slider__body .slide1 {
    margin-left: -60%;
}

#nav1:checked ~ .slider__bottom .slider__navigation #slider__bar1 .slider__button,
#nav2:checked ~ .slider__bottom .slider__navigation #slider__bar2 .slider__button,
#nav3:checked ~ .slider__bottom .slider__navigation #slider__bar3 .slider__button,
#nav4:checked ~ .slider__bottom .slider__navigation #slider__bar4 .slider__button {
    background-color: rgb(124, 255, 36);
    border: 0.125rem solid rgb(117, 111, 50);
}

.slider__bottom {
    padding-top: 1rem;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 1rem;
    justify-content: space-between;
}

.slider__text {
    white-space: nowrap;
    max-width: 15rem;
    display: flex;
}

#nav1:checked ~ .slider__bottom .slider__text .slider__text_1,
#nav2:checked ~ .slider__bottom .slider__text .slider__text_2,
#nav3:checked ~ .slider__bottom .slider__text .slider__text_3,
#nav4:checked ~ .slider__bottom .slider__text .slider__text_4 {
    opacity: 1;
    order: 0;
    transform: translateY(0%);
    transform: translateX(0%);
}

.slider__text_1,
.slider__text_2,
.slider__text_3,
.slider__text_4 {
    opacity: 0;
    order: 1;
    transform: translateY(200%);
    transition: 0.3s;
    font-size: 1.5rem;
}

@media (max-width: 48em) {
    .slider__navigation {
        align-self: center;
    }
    .slider__bottom {
        flex-direction: column;
        align-items: flex-start;
    }
    .slider__text {
        order: 1;
        margin-bottom: -4.25rem;
        flex-direction: column;
        align-items: flex-start;
    }
    .slider__container {
        padding: 1rem;
    }
    .slider {
        padding: 0.5rem;
    }
}